* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    background-color: #121212;
    color: whitesmoke;
}


/* HEADER */


header {
    position: relative;
    background-size: cover; 
    background-image: url('./images/headerimage.png');
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: top;    
}

.hero-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    position: relative;
}

.hero-text h1 {
    font-weight: 800;
}

.hero-text p {
    font-size: .85rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719); /* Adjust color and opacity */
    pointer-events: none;
}


/* SEARCH BAR */


.serchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 100%;
}

#searchInput {
    padding: 1em 1.5em;
    border: none;
    outline: none;
    font-family: inherit;
    background: #2E2E2F;
    width: 50vw;
}

#searchBtn{
    padding: 1em 1.5em;
    border: none;
    outline: none;
    font-family: inherit;
    background: #2E2E2F;
    color: whitesmoke;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ri-search-line {
    padding: .8em 1.5em;
    background: #2E2E2F;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


/* MAIN */

main {
    height: 70vh;
    display: grid;
    justify-content: center;
    align-items: start;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;

}
.ri-film-fill {
    color: rgb(77, 76, 76);
    font-size: 6rem;
}

.icon h2 {
    color: rgb(77, 76, 76);
    font-size: 1.5rem;
}


/* MOVIE ITEM */

.movie {
    display: flex;
    align-items: center;
    margin: 3em 1.5em;
    padding-bottom: 2em;
    gap: 1em;
    border-bottom:1px solid #2C2C2C;
}

.movie img {
    height: 100px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.movie-further-details {
    display: flex;
    align-items: center;
    font-size: .8rem;
    width: 100%;
    margin: .5em 0;
}
.movie-further-details span {
    margin-right: 1em;
}

.movie-details  p{
    font-size: .8rem;
}

.ri-add-circle-fill {
    margin-right: .2em;
}
